<footer>
    <div class="container">
        <p class="font-weight-light text-center">This project made by Tomer Bitan all rights reserved © 2020</p>
        <hr>
        <ul class="text-center">
            <li class="social"><a href="https://www.linkedin.com/in/tomer-bitan-812018153/"><i class="social fa fa-linkedin"></i></a></li>
            <li class="social">&nbsp;&nbsp;</li>
            <li class="social"><a href="https://github.com/BitanTomer"><i class="social fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>
</body>
</html>